body {
    position: relative;
}

header {
    background-color: #FF8001;
}

footer {
    background-color: #FF8001;
}

.header-content {
    width: 1440px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-content img {
    height: 75px;
    width: 240px;
}

.footer_content {
    width: 720px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.upper_img {
    margin-top: 100px;
}

.upper_img img {
    width: 99.5vw;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.restaurant_logo {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    border: solid 2px white;
}

.restaurant_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.restaurant {
    margin-top: 120px;
    width: 1400px;
    height: 150px;
    padding-left: 20px;
}

.restaurant_name {
    margin-top: 20px;
    font-size: 40px;
}

.rating {
    margin-top: 10px;
    font-size: 24px;
    color: #FF8001
}

.fa-star {
    color: black;
}

.checked {
    color: #FF8001;
}

.restaurant-text {
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.dishes {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dishes img {
    width: 99.5vw;
    height: 200px;
    margin-top: 10px;
    object-fit: cover;
    object-position: center bottom;
}

.menu-head {
    margin-top: 20px;
    width: 1440px;
    align-items: flex-start;
}

.menu-head img {
    color: #FF8001;
}

.category {
    font-size: 32px;
    margin-top: 20px;
}

.category:hover {
    color: #FF8001;
}

.category:focus {
    color: #FF8001;
}

.dish {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1440px;
    margin-top: 20px;
    padding: 10px;
    border: solid 1px #FF8001;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}

.price {
    color: #FF8001;
}

footer {
    color: white;
    font-size: 18px;
    margin-right: 20px;
}

.dish_header {
    display: flex;
    justify-content: space-between;
    width: 1420px;
}

aside {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 500px;
    height: calc(100vh - 200px);
    border: solid 1px #FF8001;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

.cart {

    font-size: 1.5rem;
}

.mobile_cart {
    border: solid 1px #e3e3e3;
    border-radius: 5px;
    height: 45px;
    width: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.cart_item {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 75px;
    margin-top: 20px;
    font-size: 1.2rem;
    border: solid 1px #FF8001;
    border-radius: 5px;
}

.item_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    margin: 2px;
    font-size: 1.2rem;
    font-weight: bold;
}

.portions {
    width: 30px;
    height: 30px;
    border: solid 1px #FF8001;
    border-radius: 5px;
    text-align: center;
}

.portions_control {
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.quantity {
    font-size: 1rem;
    font-weight: bold;
}

.total_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    margin-top: 20px;
    font-size: 1.5rem;
    flex: 1;
}

.delivery {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.button-selfcollect {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2ECC71;
}

input:checked+.slider:before {
    transform: translateX(25px);
}

.selfcollect {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: -10px;
}

.orders_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 480px;
}

.checkout_button {
    margin-top: 40px;
    padding: 10px;
    height: 52px;
    width: 150px;
    background-color: #FF8001;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.emptycart_button {
    margin-top: 40px;
    padding: 10px;
    height: 52px;
    width: 150px;
    background-color: #FF8001;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.cart_confirmation {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #FF8001;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.cart_confirmation::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.closebtn {
    margin-top: 40px;
    padding: 10px;
    height: 40px;
    width: 80px;
    background-color: #FF8001;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.resp_cart_box {
    margin-bottom: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 86vh;
    background: white;
    border-top: 2px solid #FF8001;
    border-radius: 20px 20px 0 0;
    display: none;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.cart-header {
    padding: 20px;
    flex-shrink: 0;
}

.cart-content {
    flex: 1;
    overflow-y: auto;
    padding: 10px 20px;
}

.cart-footer {
    padding: 20px;
    border-top: 1px solid #eee;
    flex-shrink: 0;
}

.resp_cart_box.open {
    transform: translateY(0);
}


@media (max-width: 2450px) {
    .dish {
        width: 1000px;
    }

    .dish_header {
        width: 980px;
    }
}

@media (max-width: 2015px) {
    aside {
        width: 400px;
    }

    .orders_control {
        width: 380px;
    }

    .item_details {
        width: 350px;
    }

    .portions_control {
        justify-content: center;
    }
}

@media (max-width: 1800px) {
    .dish {
        width: 1000px;
    }

    .dish_header {
        width: 980px;
    }
}

@media (max-width: 1502px) {
    
    .orders_control {
        width: 280px;
    }

    .cart_item {
        height: 100px;
    }

    .portions_control {
        height: 50px;
        align-items: center;
    }

    .item_details {
        width: 250px;
        font-size: 16px;
    }

    .checkout_button {
        width: 100px;
        font-size: 16px;
        padding: 5px;
    }

    .emptycart_button {
        width: 100px;
        font-size: 16px;
        padding: 5px;
    }
}

@media (max-width: 1450px) {
    .header-content {
        width: 100%;
        padding: 0 20px;
    }

    aside {
        width: 300px;
    }

    .dish {
        width: 700px;
    }

    .dish_header {
        width: 680px;
    }

    .restaurant {
        width: 700px;
    }

    .menu-head {
        width: 100%;
        padding: 0 20px;
    }

    
}

@media (max-width: 1300px) {
    .dish {
        width: 560px;
        text-align: left;
    }

    .dish_header {
        width: 540px;
    }

    .restaurant {
        width: 560px;
        padding: 0;
    }

    .menu-head {
        width: 560px;
        padding: 0;
    }

    .category {
        font-size: 28px;
    }
}

@media (max-width: 1165px) {
    aside {
        display: none;
    }

    .mobile_cart {
        display: flex;
    }

    .item_details {
        width: 800px;
        padding-top: 10px;
        font-size: 18px;
        justify-content: space-around;
    }

    .resp_cart_box {
        display: flex;
    }

    .cart-footer {
        width: 800px;
    }

    .orders_control {
        width: 800px;
        justify-content: space-around;
    }


}

@media (max-width: 810px) {
    .cart-footer {
        width: 500px;
    }

    .orders_control {
        width: 500px;
        justify-content: space-around;
    }

    .item_details {
        width: 500px;
    }
}

@media (max-width: 700px) {

    .category {
        font-size: 24px;
    }
}

@media (max-width: 580px) {

    header {
        max-width: 100vw;
    }

    .restaurant {
        width: 400px;
        padding-left: 5px;
    }

    .menu-head {
        width: 400px;
        padding-left: 5px;
    }

    .dishes {
        align-items: center;
        width: 400px;
    }
    .category {
        font-size: 20px;
    }

    .dish {
        width: 400px;
    }

    .dish_header {
        width: 380px;
    }
}

@media (max-width: 516px) {

    .cart-footer {
        width: 300px;
    }

    .orders_control {
        width: 300px;
        justify-content: space-around;
    }

    .item_details {
        width: 300px;
        height: 120px;
        font-size: 16px;
        padding-left: 5px;
    }
}

@media (max-width: 405px) {

    h3 {
        font-size: 18px;
    }

     .checkout_button {
        width: 80px;
        font-size: 14px;
        padding: 5px;
    }

    .emptycart_button {
        width: 80px;
        font-size: 14px;
        padding: 5px;
    }

    .category {
        font-size: 18px;
    }

    .restaurant {
        width: 300px;
        padding-left: 5px;
    }

    .menu-head {
        width: 300px;
        padding-left: 5px;
    }

    .dishes {
        align-items: center;
        width: 300px;
    }

    .dish {
        align-items: center;
        width: 300px;
        font-size: 16px;
    }
    
     .dish_header {
        width: 280px;
     }

     .category {
        font-size: 16px;
     }

     .cart-content {
        width: 300px;
     }

     .item_details {
        width: 220px;
     }

     .cart_item {
        width: 240px;
        height: 120px;
     }
}