header {
    background-color: #FF8001;
}

footer {
    background-color: #FF8001;
}

.header-content {
    width: 1440px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-content img {
    height: 75px;
    width: 240px;
}

.upper_img {
    margin-top: 100px;
}

.upper_img img {
    width: 100vw;
    height: 200px;
    object-fit: cover; 
    object-position: center;
}

.restaurant {
    width: 1400px;
    height: 200px;
}
.restaurant_name {
    margin-top:20px;
    font-size: 40px;
}

.rating {
    margin-top: 10px;
    font-size: 24px;
    color: #FF8001
}

.fa-star {
    color: black;
}

.checked {
  color: #FF8001;
}

.dishes img {
    width: 100vw;
    height: 200px;
    object-fit: cover; 
    object-position: center bottom;
}

