header {
    background-color: #FF8001;
}

footer {
    background-color: #FF8001;
}

.header-content {
    width: 1440px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-content img {
    height: 75px;
    width: 240px;
}

.upper_img {
    margin-top: 100px;
}

.upper_img img {
    width: 99.5vw;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.restaurant {
    width: 1400px;
    height: 150px;
}

.restaurant_name {
    margin-top: 20px;
    font-size: 40px;
}

.rating {
    margin-top: 10px;
    font-size: 24px;
    color: #FF8001
}

.fa-star {
    color: black;
}

.checked {
    color: #FF8001;
}

.dishes {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishes img {
    width: 99.5vw;
    height: 200px;
    margin-top: 10px;
    object-fit: cover;
    object-position: center bottom;
}

.menu-head {
    margin-top: 20px;
    width: 1440px;
    align-items: center;
}

.menu-head img {
    color: #FF8001;
}

.category {
    font-size: 32px;
    margin-top: 20px;
}

.category:hover {
    color: #FF8001;
}

.category:focus {
    color: #FF8001;
}

.dish {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1440px;
    margin-top: 20px;
    padding: 10px;
    border: solid 1px #FF8001;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.price {
    color: #FF8001;
}

footer {
    color: white;
    font-size: 18px;
    margin-right: 20px;
}

.dish_header {
    display: flex;
    justify-content: space-between;
    width: 1420px;
}

aside {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 500px;
    height: calc(100vh - 200px);
    border: solid 1px #FF8001;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

.cart {

    font-size: 1.5rem;
}

.cart_item {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 75px;
    margin-top: 20px;
    font-size: 1.2rem;
    border: solid 1px #FF8001;
    border-radius: 5px;
}

.item_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    margin: 2px;
    font-size: 1.2rem;
    font-weight: bold;
}

.portions {
    width: 30px;
    height: 30px;
    border: solid 1px #FF8001;
    border-radius: 5px;
    text-align: center;
}

.portions_control {
    display: flex;
    flex-direction: row;
    width: 300px;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.quantity {
    font-size: 1rem;
    font-weight: bold;
}

.total_price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    margin-top: 20px;
    font-size: 1.5rem;
    flex: 1;
}

.delivery {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.button-selfcollect {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    display:flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 25px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2ECC71;
}
input:checked + .slider:before {
  transform: translateX(25px);
}

.selfcollect {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: -10px;
}

.orders_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 480px;
}

.checkout_button {
    margin-top: 40px;
    padding: 10px;
    height: 52px;
    width: 150px;
    background-color: #FF8001;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.emptycart_button {
    margin-top: 40px;
    padding: 10px;
    height: 52px;
    width: 150px;
    background-color: #FF8001;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}