header {
    background-color: #FF8001;
}

footer {
    background-color: #FF8001;
}

.header-content {
    width: 1440px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-content img {
    height: 75px;
    width: 240px;
}