header {
    background-color: #FF8001;
}

footer {
    background-color: #FF8001;
}

.header-content {
    width: 1440px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-content img {
    height: 75px;
    width: 240px;
}

.upper_img {
    margin-top: 100px;
}

.upper_img img {
    width: 100vw;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.restaurant {
    width: 1400px;
    height: 150px;
}

.restaurant_name {
    margin-top: 20px;
    font-size: 40px;
}

.rating {
    margin-top: 10px;
    font-size: 24px;
    color: #FF8001
}

.fa-star {
    color: black;
}

.checked {
    color: #FF8001;
}

.dishes {
    /* width: 1440px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishes img {
    width: 100vw;
    height: 200px;
    margin-top: 10px;
    object-fit: cover;
    object-position: center bottom;
}

.menu-head {
    margin-top: 20px;
    width: 1440px;
    align-items: center;
}

.menu-head img {
    color: #FF8001;
}

.category {
    font-size: 32px;
    margin-top: 20px;
}

.category:hover {
    color: #FF8001;
}

.category:focus {
    color: #FF8001;
}

.dish {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1400px;
    margin-top: 20px;
    padding: 10px;
    border: solid 1px #FF8001;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.price {
    color: #FF8001;
}

footer {
    color: white;
    font-size: 18px;
    margin-right: 20px;
}

.dish_header {
    display: flex;
    justify-content: space-between;
    width: 1370px;
}