header {
    width: 100%;
    height: 80px;
    background-color: #FF8001;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-content {
    width: 1440px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-content img {
    height: 75px;
    width: 240px;
}