* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

main {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: flex-start;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #FF8001;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
}

a {
    text-decoration: none;
}