* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

header {
    width: 100vw;
    height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


main {
    min-height: calc(100vh - 100px);
    max-width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}

footer {
    width: 100vw;
    height: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    /* padding: 0 20px; */
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}